.servicesContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 5rem;
}

.service {
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    color: white;
    
}

.cardServizi{
    display: flex;
   flex-direction: row;
   gap: 3rem;
   background-color: rgba(0, 0, 0, 0.719);
    padding: 3rem;
    border-radius: 3rem;
align-items: center;
  
}

.cardServizi img{
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
}

@media only screen and (max-width: 1200px){
	/*Tablets [601px -> 1200px]*/
.servicesContainer{
    
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    margin-top: 15rem;
    margin-bottom: 10rem;
    gap: 10rem;
}

.service{
    
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
}

    .cardServizi{
        flex-direction: column;
        width: 90%;
        text-align: center;
        font-size: 2rem;
    }




}


@media only screen and (max-width: 600px){
	/*Tablets [601px -> 1200px]*/
.servicesContainer{
    
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    gap: 12rem;
   margin-bottom: 12rem;
   margin-top: 12rem;

}

.service{
    
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    
    
}

    .cardServizi{
        flex-direction: column;
        width: 90%;
        text-align: center;
        font-size: 1.4rem;
   
    }

    .cardServizi img{
        width: 10rem;
        height: 10rem;
        border-radius: 2rem;
    }


}


@media only screen and (max-width: 400px){
  

    .cardServizi{
        font-size: 1.2rem;
    }

}



